Initialize

In [1]:
import requests
import pandas as pd
import json
headers={'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/102.0.0.0 Safari/537.36'}

Source & Check Response

In [79]:
url = 'https://www.olx.co.id/api/relevance/v2/search?category=5158&facet_limit=100&location=4000209&location_facet_limit=20&p_certificate=shm-sertifikathakmilik&page={}&platform=web-desktop&price_max=1000000000&price_min=150000000&type=rumah'
pgnum = 1

Test Connection

In [80]:
item = []
r = requests.get(url.format(pgnum), headers=headers)
print(r)

<Response [200]>

Locate Data

In [4]:
#'total_ads': 203171
#'ads_on_page': 20
#'total_pages': 4233
adsc = 1
json_text = r.json()
#json_text

In [9]:
a =[]
for pgnum in range (50):
    r = requests.get(url.format(pgnum), headers=headers)
    json_text = r.json()
    for adsc in range (20):
        harga = json_text['data'][adsc]['price']['value']['display']
        lokasi = json_text['data'][adsc]['locations_resolved']['ADMIN_LEVEL_1_name'], json_text['data'][adsc]['locations_resolved']['ADMIN_LEVEL_3_name'], json_text['data'][adsc]['locations_resolved']['SUBLOCALITY_LEVEL_1_name']
        hl = harga, lokasi
        a.append(hl)
        #print(lokasi)
df = pd.DataFrame(a)

In [12]:
for pgnum in range (50):
    r = requests.get(url.format(pgnum), headers=headers)
    json_text = r.json()
    for adsc in range (20):
        harga = json_text['data'][adsc]['price']['value']['display']
        lokasi = json_text['data'][adsc]['locations_resolved']['ADMIN_LEVEL_1_name'], json_text['data'][adsc]['locations_resolved']['ADMIN_LEVEL_3_name'], json_text['data'][adsc]['locations_resolved']['SUBLOCALITY_LEVEL_1_name']
        hl = harga, lokasi
        a.append(hl)
        #print(lokasi)
df = pd.DataFrame(a)

In [16]:
for pgnum in range (50):
    r = requests.get(url.format(pgnum), headers=headers)
    json_text = r.json()
    for adsc in range (20):
        harga = json_text['data'][adsc]['price']['value']['display']
        lokasi = json_text['data'][adsc]['locations_resolved']['ADMIN_LEVEL_1_name'], json_text['data'][adsc]['locations_resolved']['ADMIN_LEVEL_3_name'], json_text['data'][adsc]['locations_resolved']['SUBLOCALITY_LEVEL_1_name']
        hl = harga, lokasi
        a.append(hl)
        #print(lokasi)
df = pd.DataFrame(a)
df

                   0                                       1
0     Rp 750.000.000   (Jawa Timur, Surabaya Kota, Kenjeran)
1     Rp 425.000.000      (Jawa Timur, Surabaya Kota, Bulak)
2     Rp 590.000.000  (Jawa Timur, Surabaya Kota, Mulyorejo)
3     Rp 480.000.000  (Jawa Timur, Surabaya Kota, Simokerto)
4     Rp 950.000.000     (Jawa Timur, Surabaya Kota, Gubeng)
...              ...                                     ...
2995  Rp 275.000.006     (Jawa Timur, Malang Kota, Blimbing)
2996  Rp 600.000.000     (Jawa Timur, Malang Kota, Blimbing)
2997  Rp 310.000.006       (Jawa Timur, Malang Kota, Klojen)
2998  Rp 310.000.006    (Jawa Timur, Malang Kota, Lowokwaru)
2999  Rp 780.000.000     (Jawa Timur, Malang Kota, Blimbing)

[3000 rows x 2 columns]

In [19]:
for pgnum in range (50):
    r = requests.get(url.format(pgnum), headers=headers)
    json_text = r.json()
    for adsc in range (20):
        harga = json_text['data'][adsc]['price']['value']['display']
        lokasi = json_text['data'][adsc]['locations_resolved']['ADMIN_LEVEL_1_name'], json_text['data'][adsc]['locations_resolved']['ADMIN_LEVEL_3_name'], json_text['data'][adsc]['locations_resolved']['SUBLOCALITY_LEVEL_1_name']
        hl = harga, lokasi
        a.append(hl)
        #print(lokasi)
df = pd.DataFrame(a)
df

                   0                                       1
0     Rp 750.000.000   (Jawa Timur, Surabaya Kota, Kenjeran)
1     Rp 425.000.000      (Jawa Timur, Surabaya Kota, Bulak)
2     Rp 590.000.000  (Jawa Timur, Surabaya Kota, Mulyorejo)
3     Rp 480.000.000  (Jawa Timur, Surabaya Kota, Simokerto)
4     Rp 950.000.000     (Jawa Timur, Surabaya Kota, Gubeng)
...              ...                                     ...
3995  Rp 250.000.558           (Jawa Timur, Batu Kota, Batu)
3996  Rp 490.000.858           (Jawa Timur, Batu Kota, Batu)
3997  Rp 500.008.588           (Jawa Timur, Batu Kota, Batu)
3998  Rp 849.000.000           (Jawa Timur, Batu Kota, Batu)
3999  Rp 650.000.555           (Jawa Timur, Batu Kota, Batu)

[4000 rows x 2 columns]

In [22]:
for pgnum in range (50):
    r = requests.get(url.format(pgnum), headers=headers)
    json_text = r.json()
    for adsc in range (20):
        harga = json_text['data'][adsc]['price']['value']['display']
        lokasi = json_text['data'][adsc]['locations_resolved']['ADMIN_LEVEL_1_name'], json_text['data'][adsc]['locations_resolved']['ADMIN_LEVEL_3_name'], json_text['data'][adsc]['locations_resolved']['SUBLOCALITY_LEVEL_1_name']
        hl = harga, lokasi
        a.append(hl)
        #print(lokasi)
df = pd.DataFrame(a)
df

                   0                                         1
0     Rp 750.000.000     (Jawa Timur, Surabaya Kota, Kenjeran)
1     Rp 425.000.000        (Jawa Timur, Surabaya Kota, Bulak)
2     Rp 590.000.000    (Jawa Timur, Surabaya Kota, Mulyorejo)
3     Rp 480.000.000    (Jawa Timur, Surabaya Kota, Simokerto)
4     Rp 950.000.000       (Jawa Timur, Surabaya Kota, Gubeng)
...              ...                                       ...
4995  Rp 600.000.000       (Jawa Timur, Malang Kota, Blimbing)
4996  Rp 310.000.006         (Jawa Timur, Malang Kota, Klojen)
4997  Rp 310.000.006      (Jawa Timur, Malang Kota, Lowokwaru)
4998  Rp 780.000.000       (Jawa Timur, Malang Kota, Blimbing)
4999  Rp 850.000.000  (Jawa Timur, Malang Kota, Kedungkandang)

[5000 rows x 2 columns]

In [25]:
for pgnum in range (50):
    r = requests.get(url.format(pgnum), headers=headers)
    json_text = r.json()
    for adsc in range (20):
        harga = json_text['data'][adsc]['price']['value']['display']
        lokasi = json_text['data'][adsc]['locations_resolved']['ADMIN_LEVEL_1_name'], json_text['data'][adsc]['locations_resolved']['ADMIN_LEVEL_3_name'], json_text['data'][adsc]['locations_resolved']['SUBLOCALITY_LEVEL_1_name']
        hl = harga, lokasi
        a.append(hl)
        #print(lokasi)
df = pd.DataFrame(a)
df

                     0                                       1
0       Rp 750.000.000   (Jawa Timur, Surabaya Kota, Kenjeran)
1       Rp 425.000.000      (Jawa Timur, Surabaya Kota, Bulak)
2       Rp 590.000.000  (Jawa Timur, Surabaya Kota, Mulyorejo)
3       Rp 480.000.000  (Jawa Timur, Surabaya Kota, Simokerto)
4       Rp 950.000.000     (Jawa Timur, Surabaya Kota, Gubeng)
...                ...                                     ...
5995    Rp 440.001.109   (Jawa Timur, Surabaya Kota, Gayungan)
5996    Rp 204.001.109    (Jawa Timur, Surabaya Kota, Sawahan)
5997    Rp 732.001.109   (Jawa Timur, Surabaya Kota, Gayungan)
5998    Rp 429.090.929   (Jawa Timur, Surabaya Kota, Gayungan)
5999  Rp 1.000.000.000  (Jawa Timur, Surabaya Kota, Wonokromo)

[6000 rows x 2 columns]

In [31]:
for pgnum in range (50):
    r = requests.get(url.format(pgnum), headers=headers)
    json_text = r.json()
    for adsc in range (20):
        harga = json_text['data'][adsc]['price']['value']['display']
        lokasi = json_text['data'][adsc]['locations_resolved']['ADMIN_LEVEL_1_name'], json_text['data'][adsc]['locations_resolved']['ADMIN_LEVEL_3_name'], json_text['data'][adsc]['locations_resolved']['SUBLOCALITY_LEVEL_1_name']
        hl = harga, lokasi
        a.append(hl)
        #print(lokasi)
df = pd.DataFrame(a)
df

                   0                                          1
0     Rp 750.000.000      (Jawa Timur, Surabaya Kota, Kenjeran)
1     Rp 425.000.000         (Jawa Timur, Surabaya Kota, Bulak)
2     Rp 590.000.000     (Jawa Timur, Surabaya Kota, Mulyorejo)
3     Rp 480.000.000     (Jawa Timur, Surabaya Kota, Simokerto)
4     Rp 950.000.000        (Jawa Timur, Surabaya Kota, Gubeng)
...              ...                                        ...
6995  Rp 225.658.400       (Jawa Timur, Surabaya Kota, Genteng)
6996  Rp 570.000.000         (Jawa Timur, Sidoarjo  Kab., Waru)
6997  Rp 225.000.100   (Jawa Timur, Surabaya Kota, Gununganyar)
6998  Rp 225.659.870  (Jawa Timur, Surabaya Kota, Karangpilang)
6999  Rp 819.000.001        (Jawa Timur, Malang Kota, Blimbing)

[7000 rows x 2 columns]

In [39]:
for pgnum in range (9):
    r = requests.get(url.format(pgnum), headers=headers)
    json_text = r.json()
    for adsc in range (20):
        harga = json_text['data'][adsc]['price']['value']['display']
        lokasi = json_text['data'][adsc]['locations_resolved']['ADMIN_LEVEL_1_name'], json_text['data'][adsc]['locations_resolved']['ADMIN_LEVEL_3_name'], json_text['data'][adsc]['locations_resolved']['SUBLOCALITY_LEVEL_1_name']
        hl = harga, lokasi
        a.append(hl)
        #print(lokasi)
df = pd.DataFrame(a)
df

                   0                                         1
0     Rp 750.000.000     (Jawa Timur, Surabaya Kota, Kenjeran)
1     Rp 425.000.000        (Jawa Timur, Surabaya Kota, Bulak)
2     Rp 590.000.000    (Jawa Timur, Surabaya Kota, Mulyorejo)
3     Rp 480.000.000    (Jawa Timur, Surabaya Kota, Simokerto)
4     Rp 950.000.000       (Jawa Timur, Surabaya Kota, Gubeng)
...              ...                                       ...
8125  Rp 650.000.000  (Jawa Timur, Probolinggo Kab., Kraksaan)
8126  Rp 900.000.000  (Jawa Timur, Banyuwangi  Kab., Glenmore)
8127  Rp 320.000.000  (Jawa Timur, Banyuwangi  Kab., Kalibaru)
8128  Rp 430.000.000  (Jawa Timur, Probolinggo Kab., Kraksaan)
8129  Rp 500.000.000     (Jawa Timur, Lumajang Kab., Jatiroto)

[8130 rows x 2 columns]

In [42]:
for pgnum in range (10):
    r = requests.get(url.format(pgnum), headers=headers)
    json_text = r.json()
    for adsc in range (20):
        harga = json_text['data'][adsc]['price']['value']['display']
        lokasi = json_text['data'][adsc]['locations_resolved']['ADMIN_LEVEL_1_name'], json_text['data'][adsc]['locations_resolved']['ADMIN_LEVEL_3_name'], json_text['data'][adsc]['locations_resolved']['SUBLOCALITY_LEVEL_1_name']
        hl = harga, lokasi
        a.append(hl)
        #print(lokasi)
df = pd.DataFrame(a)
df

                   0                                       1
0     Rp 750.000.000   (Jawa Timur, Surabaya Kota, Kenjeran)
1     Rp 425.000.000      (Jawa Timur, Surabaya Kota, Bulak)
2     Rp 590.000.000  (Jawa Timur, Surabaya Kota, Mulyorejo)
3     Rp 480.000.000  (Jawa Timur, Surabaya Kota, Simokerto)
4     Rp 950.000.000     (Jawa Timur, Surabaya Kota, Gubeng)
...              ...                                     ...
8325  Rp 300.000.000  (Jawa Timur, Sidoarjo  Kab., Sidoarjo)
8326  Rp 650.000.000  (Jawa Timur, Sidoarjo  Kab., Sukodono)
8327  Rp 769.000.111        (Jawa Timur, Batu Kota, Junrejo)
8328  Rp 769.000.656        (Jawa Timur, Batu Kota, Junrejo)
8329  Rp 769.000.543        (Jawa Timur, Batu Kota, Junrejo)

[8330 rows x 2 columns]

In [48]:
for pgnum in range (8):
    r = requests.get(url.format(pgnum), headers=headers)
    json_text = r.json()
    for adsc in range (20):
        harga = json_text['data'][adsc]['price']['value']['display']
        lokasi = json_text['data'][adsc]['locations_resolved']['ADMIN_LEVEL_1_name'], json_text['data'][adsc]['locations_resolved']['ADMIN_LEVEL_3_name'], json_text['data'][adsc]['locations_resolved']['SUBLOCALITY_LEVEL_1_name']
        hl = harga, lokasi
        a.append(hl)
        #print(lokasi)
df = pd.DataFrame(a)
df

                   0                                         1
0     Rp 750.000.000     (Jawa Timur, Surabaya Kota, Kenjeran)
1     Rp 425.000.000        (Jawa Timur, Surabaya Kota, Bulak)
2     Rp 590.000.000    (Jawa Timur, Surabaya Kota, Mulyorejo)
3     Rp 480.000.000    (Jawa Timur, Surabaya Kota, Simokerto)
4     Rp 950.000.000       (Jawa Timur, Surabaya Kota, Gubeng)
...              ...                                       ...
8925  Rp 375.000.000             (Bali, Jembrana Kab., Negara)
8926  Rp 235.000.000  (Jawa Timur, Banyuwangi  Kab., Glenmore)
8927  Rp 168.000.000             (Bali, Jembrana Kab., Negara)
8928  Rp 899.000.000   (Jawa Timur, Banyuwangi  Kab., Genteng)
8929  Rp 260.000.000             (Bali, Jembrana Kab., Negara)

[8930 rows x 2 columns]

In [51]:
for pgnum in range (8):
    r = requests.get(url.format(pgnum), headers=headers)
    json_text = r.json()
    for adsc in range (20):
        harga = json_text['data'][adsc]['price']['value']['display']
        lokasi = json_text['data'][adsc]['locations_resolved']['ADMIN_LEVEL_1_name'], json_text['data'][adsc]['locations_resolved']['ADMIN_LEVEL_3_name'], json_text['data'][adsc]['locations_resolved']['SUBLOCALITY_LEVEL_1_name']
        hl = harga, lokasi
        a.append(hl)
        #print(lokasi)
df = pd.DataFrame(a)
df

                   0                                       1
0     Rp 750.000.000   (Jawa Timur, Surabaya Kota, Kenjeran)
1     Rp 425.000.000      (Jawa Timur, Surabaya Kota, Bulak)
2     Rp 590.000.000  (Jawa Timur, Surabaya Kota, Mulyorejo)
3     Rp 480.000.000  (Jawa Timur, Surabaya Kota, Simokerto)
4     Rp 950.000.000     (Jawa Timur, Surabaya Kota, Gubeng)
...              ...                                     ...
9085  Rp 450.000.000  (Jawa Timur, Lamongan  Kab., Lamongan)
9086  Rp 525.000.000  (Jawa Timur, Lamongan  Kab., Lamongan)
9087  Rp 725.000.000  (Jawa Timur, Lamongan  Kab., Lamongan)
9088  Rp 475.000.000  (Jawa Timur, Lamongan  Kab., Lamongan)
9089  Rp 850.000.000      (Jawa Timur, Tuban Kab., Jatirogo)

[9090 rows x 2 columns]

In [54]:
for pgnum in range (8):
    r = requests.get(url.format(pgnum), headers=headers)
    json_text = r.json()
    for adsc in range (20):
        harga = json_text['data'][adsc]['price']['value']['display']
        lokasi = json_text['data'][adsc]['locations_resolved']['ADMIN_LEVEL_1_name'], json_text['data'][adsc]['locations_resolved']['ADMIN_LEVEL_3_name'], json_text['data'][adsc]['locations_resolved']['SUBLOCALITY_LEVEL_1_name']
        hl = harga, lokasi
        a.append(hl)
        #print(lokasi)
df = pd.DataFrame(a)
df

                   0                                             1
0     Rp 750.000.000         (Jawa Timur, Surabaya Kota, Kenjeran)
1     Rp 425.000.000            (Jawa Timur, Surabaya Kota, Bulak)
2     Rp 590.000.000        (Jawa Timur, Surabaya Kota, Mulyorejo)
3     Rp 480.000.000        (Jawa Timur, Surabaya Kota, Simokerto)
4     Rp 950.000.000           (Jawa Timur, Surabaya Kota, Gubeng)
...              ...                                           ...
9245  Rp 450.000.000       (Jawa Timur, Mojokerto Kota, Magersari)
9246  Rp 270.000.000  (Jawa Timur, Mojokerto Kota, Prajurit Kulon)
9247  Rp 185.600.606       (Jawa Timur, Mojokerto Kab., Mojoanyar)
9248  Rp 185.647.847       (Jawa Timur, Mojokerto Kab., Mojoanyar)
9249  Rp 185.060.658           (Jawa Timur, Mojokerto Kab., Sooko)

[9250 rows x 2 columns]

In [57]:
for pgnum in range (8):
    r = requests.get(url.format(pgnum), headers=headers)
    json_text = r.json()
    for adsc in range (20):
        harga = json_text['data'][adsc]['price']['value']['display']
        lokasi = json_text['data'][adsc]['locations_resolved']['ADMIN_LEVEL_1_name'], json_text['data'][adsc]['locations_resolved']['ADMIN_LEVEL_3_name'], json_text['data'][adsc]['locations_resolved']['SUBLOCALITY_LEVEL_1_name']
        hl = harga, lokasi
        a.append(hl)
        #print(lokasi)
df = pd.DataFrame(a)
df

                   0                                       1
0     Rp 750.000.000   (Jawa Timur, Surabaya Kota, Kenjeran)
1     Rp 425.000.000      (Jawa Timur, Surabaya Kota, Bulak)
2     Rp 590.000.000  (Jawa Timur, Surabaya Kota, Mulyorejo)
3     Rp 480.000.000  (Jawa Timur, Surabaya Kota, Simokerto)
4     Rp 950.000.000     (Jawa Timur, Surabaya Kota, Gubeng)
...              ...                                     ...
9405  Rp 600.000.000        (Jawa Timur, Blitar Kab., Garum)
9406  Rp 360.000.000        (Jawa Timur, Blitar Kab., Garum)
9407  Rp 900.000.000    (Jawa Timur, Jombang  Kab., Jombang)
9408  Rp 650.000.000   (Jawa Timur, Nganjuk Kab., Kertosono)
9409  Rp 370.000.000      (Jawa Timur, Jombang  Kab., Diwek)

[9410 rows x 2 columns]

In [60]:
for pgnum in range (8):
    r = requests.get(url.format(pgnum), headers=headers)
    json_text = r.json()
    for adsc in range (20):
        harga = json_text['data'][adsc]['price']['value']['display']
        lokasi = json_text['data'][adsc]['locations_resolved']['ADMIN_LEVEL_1_name'], json_text['data'][adsc]['locations_resolved']['ADMIN_LEVEL_3_name'], json_text['data'][adsc]['locations_resolved']['SUBLOCALITY_LEVEL_1_name']
        hl = harga, lokasi
        a.append(hl)
        #print(lokasi)
df = pd.DataFrame(a)
df

                   0                                       1
0     Rp 750.000.000   (Jawa Timur, Surabaya Kota, Kenjeran)
1     Rp 425.000.000      (Jawa Timur, Surabaya Kota, Bulak)
2     Rp 590.000.000  (Jawa Timur, Surabaya Kota, Mulyorejo)
3     Rp 480.000.000  (Jawa Timur, Surabaya Kota, Simokerto)
4     Rp 950.000.000     (Jawa Timur, Surabaya Kota, Gubeng)
...              ...                                     ...
9565  Rp 270.004.400   (Jawa Timur, Mojokerto Kab., Gondang)
9566  Rp 270.556.585  (Jawa Timur, Mojokerto Kab., Jatirejo)
9567  Rp 257.879.820  (Jawa Timur, Mojokerto Kab., Trowulan)
9568  Rp 185.669.875  (Jawa Timur, Mojokerto Kab., Trowulan)
9569  Rp 185.698.785   (Jawa Timur, Mojokerto Kab., Gondang)

[9570 rows x 2 columns]

In [63]:
for pgnum in range (8):
    r = requests.get(url.format(pgnum), headers=headers)
    json_text = r.json()
    for adsc in range (20):
        harga = json_text['data'][adsc]['price']['value']['display']
        lokasi = json_text['data'][adsc]['locations_resolved']['ADMIN_LEVEL_1_name'], json_text['data'][adsc]['locations_resolved']['ADMIN_LEVEL_3_name'], json_text['data'][adsc]['locations_resolved']['SUBLOCALITY_LEVEL_1_name']
        hl = harga, lokasi
        a.append(hl)
        #print(lokasi)
df = pd.DataFrame(a)
df

                   0                                       1
0     Rp 750.000.000   (Jawa Timur, Surabaya Kota, Kenjeran)
1     Rp 425.000.000      (Jawa Timur, Surabaya Kota, Bulak)
2     Rp 590.000.000  (Jawa Timur, Surabaya Kota, Mulyorejo)
3     Rp 480.000.000  (Jawa Timur, Surabaya Kota, Simokerto)
4     Rp 950.000.000     (Jawa Timur, Surabaya Kota, Gubeng)
...              ...                                     ...
9725  Rp 270.004.400   (Jawa Timur, Mojokerto Kab., Gondang)
9726  Rp 270.556.585  (Jawa Timur, Mojokerto Kab., Jatirejo)
9727  Rp 257.879.820  (Jawa Timur, Mojokerto Kab., Trowulan)
9728  Rp 185.669.875  (Jawa Timur, Mojokerto Kab., Trowulan)
9729  Rp 185.698.785   (Jawa Timur, Mojokerto Kab., Gondang)

[9730 rows x 2 columns]

In [66]:
for pgnum in range (8):
    r = requests.get(url.format(pgnum), headers=headers)
    json_text = r.json()
    for adsc in range (20):
        harga = json_text['data'][adsc]['price']['value']['display']
        lokasi = json_text['data'][adsc]['locations_resolved']['ADMIN_LEVEL_1_name'], json_text['data'][adsc]['locations_resolved']['ADMIN_LEVEL_3_name'], json_text['data'][adsc]['locations_resolved']['SUBLOCALITY_LEVEL_1_name']
        hl = harga, lokasi
        a.append(hl)
        #print(lokasi)
df = pd.DataFrame(a)
df

                   0                                       1
0     Rp 750.000.000   (Jawa Timur, Surabaya Kota, Kenjeran)
1     Rp 425.000.000      (Jawa Timur, Surabaya Kota, Bulak)
2     Rp 590.000.000  (Jawa Timur, Surabaya Kota, Mulyorejo)
3     Rp 480.000.000  (Jawa Timur, Surabaya Kota, Simokerto)
4     Rp 950.000.000     (Jawa Timur, Surabaya Kota, Gubeng)
...              ...                                     ...
9885  Rp 485.000.000        (Jawa Timur, Madiun Kab., Wungu)
9886  Rp 450.000.000   (Jawa Timur, Madiun Kota, Kartoharjo)
9887  Rp 480.000.000        (Jawa Timur, Madiun Kota, Taman)
9888  Rp 320.000.000        (Jawa Timur, Madiun Kab., Wungu)
9889  Rp 325.000.000     (Jawa Timur, Magetan Kab., Magetan)

[9890 rows x 2 columns]

In [69]:
for pgnum in range (8):
    r = requests.get(url.format(pgnum), headers=headers)
    json_text = r.json()
    for adsc in range (20):
        harga = json_text['data'][adsc]['price']['value']['display']
        lokasi = json_text['data'][adsc]['locations_resolved']['ADMIN_LEVEL_1_name'], json_text['data'][adsc]['locations_resolved']['ADMIN_LEVEL_3_name'], json_text['data'][adsc]['locations_resolved']['SUBLOCALITY_LEVEL_1_name']
        hl = harga, lokasi
        a.append(hl)
        #print(lokasi)
df = pd.DataFrame(a)
df

                    0                                        1
0      Rp 750.000.000    (Jawa Timur, Surabaya Kota, Kenjeran)
1      Rp 425.000.000       (Jawa Timur, Surabaya Kota, Bulak)
2      Rp 590.000.000   (Jawa Timur, Surabaya Kota, Mulyorejo)
3      Rp 480.000.000   (Jawa Timur, Surabaya Kota, Simokerto)
4      Rp 950.000.000      (Jawa Timur, Surabaya Kota, Gubeng)
...               ...                                      ...
10045  Rp 350.000.000  (Jawa Timur, Mojokerto Kota, Magersari)
10046  Rp 185.002.940    (Jawa Timur, Mojokerto Kab., Kemlagi)
10047  Rp 700.000.000  (Jawa Timur, Mojokerto Kota, Magersari)
10048  Rp 184.999.998  (Jawa Timur, Mojokerto Kota, Magersari)
10049  Rp 495.000.000      (Jawa Timur, Mojokerto Kab., Gedeg)

[10050 rows x 2 columns]

In [72]:
for pgnum in range (8):
    r = requests.get(url.format(pgnum), headers=headers)
    json_text = r.json()
    for adsc in range (20):
        harga = json_text['data'][adsc]['price']['value']['display']
        lokasi = json_text['data'][adsc]['locations_resolved']['ADMIN_LEVEL_1_name'], json_text['data'][adsc]['locations_resolved']['ADMIN_LEVEL_3_name'], json_text['data'][adsc]['locations_resolved']['SUBLOCALITY_LEVEL_1_name']
        hl = harga, lokasi
        a.append(hl)
        #print(lokasi)
df = pd.DataFrame(a)
df

                    0                                             1
0      Rp 750.000.000         (Jawa Timur, Surabaya Kota, Kenjeran)
1      Rp 425.000.000            (Jawa Timur, Surabaya Kota, Bulak)
2      Rp 590.000.000        (Jawa Timur, Surabaya Kota, Mulyorejo)
3      Rp 480.000.000        (Jawa Timur, Surabaya Kota, Simokerto)
4      Rp 950.000.000           (Jawa Timur, Surabaya Kota, Gubeng)
...               ...                                           ...
10205  Rp 400.000.000          (Jawa Timur, Kediri  Kab., Banyakan)
10206  Rp 485.000.000           (Jawa Timur, Magetan Kab., Magetan)
10207  Rp 750.000.000          (Jawa Timur, Ponorogo Kab., Ngrayun)
10208  Rp 900.000.000   (Jawa Tengah, Karanganyar Kab., Ngargoyoso)
10209  Rp 169.000.000  (Jawa Tengah, Karanganyar Kab., Tawangmangu)

[10210 rows x 2 columns]

In [75]:
for pgnum in range (8):
    r = requests.get(url.format(pgnum), headers=headers)
    json_text = r.json()
    for adsc in range (20):
        harga = json_text['data'][adsc]['price']['value']['display']
        lokasi = json_text['data'][adsc]['locations_resolved']['ADMIN_LEVEL_1_name'], json_text['data'][adsc]['locations_resolved']['ADMIN_LEVEL_3_name'], json_text['data'][adsc]['locations_resolved']['SUBLOCALITY_LEVEL_1_name']
        hl = harga, lokasi
        a.append(hl)
        #print(lokasi)
df = pd.DataFrame(a)
df

                    0                                       1
0      Rp 750.000.000   (Jawa Timur, Surabaya Kota, Kenjeran)
1      Rp 425.000.000      (Jawa Timur, Surabaya Kota, Bulak)
2      Rp 590.000.000  (Jawa Timur, Surabaya Kota, Mulyorejo)
3      Rp 480.000.000  (Jawa Timur, Surabaya Kota, Simokerto)
4      Rp 950.000.000     (Jawa Timur, Surabaya Kota, Gubeng)
...               ...                                     ...
10365  Rp 210.444.444   (Jawa Timur, Mojokerto Kab., Bangsal)
10366  Rp 325.000.000     (Jawa Timur, Sidoarjo  Kab., Candi)
10367  Rp 210.777.777   (Jawa Timur, Mojokerto Kab., Dlanggu)
10368  Rp 210.003.333     (Jawa Timur, Mojokerto Kab., Gedeg)
10369  Rp 210.077.777   (Jawa Timur, Sidoarjo  Kab., Prambon)

[10370 rows x 2 columns]

In [78]:
for pgnum in range (8):
    r = requests.get(url.format(pgnum), headers=headers)
    json_text = r.json()
    for adsc in range (20):
        harga = json_text['data'][adsc]['price']['value']['display']
        lokasi = json_text['data'][adsc]['locations_resolved']['ADMIN_LEVEL_1_name'], json_text['data'][adsc]['locations_resolved']['ADMIN_LEVEL_3_name'], json_text['data'][adsc]['locations_resolved']['SUBLOCALITY_LEVEL_1_name']
        hl = harga, lokasi
        a.append(hl)
        #print(lokasi)
df = pd.DataFrame(a)
df

                    0                                       1
0      Rp 750.000.000   (Jawa Timur, Surabaya Kota, Kenjeran)
1      Rp 425.000.000      (Jawa Timur, Surabaya Kota, Bulak)
2      Rp 590.000.000  (Jawa Timur, Surabaya Kota, Mulyorejo)
3      Rp 480.000.000  (Jawa Timur, Surabaya Kota, Simokerto)
4      Rp 950.000.000     (Jawa Timur, Surabaya Kota, Gubeng)
...               ...                                     ...
10525  Rp 250.000.000    (Jawa Timur, Pasuruan Kab., Pandaan)
10526  Rp 225.000.000    (Jawa Timur, Pasuruan Kab., Pandaan)
10527  Rp 250.000.000    (Jawa Timur, Pasuruan Kab., Pandaan)
10528  Rp 225.000.000    (Jawa Timur, Pasuruan Kab., Pandaan)
10529  Rp 550.000.000    (Jawa Timur, Pasuruan Kab., Pandaan)

[10530 rows x 2 columns]

In [81]:
for pgnum in range (8):
    r = requests.get(url.format(pgnum), headers=headers)
    json_text = r.json()
    for adsc in range (20):
        harga = json_text['data'][adsc]['price']['value']['display']
        lokasi = json_text['data'][adsc]['locations_resolved']['ADMIN_LEVEL_1_name'], json_text['data'][adsc]['locations_resolved']['ADMIN_LEVEL_3_name'], json_text['data'][adsc]['locations_resolved']['SUBLOCALITY_LEVEL_1_name']
        hl = harga, lokasi
        a.append(hl)
        #print(lokasi)
df = pd.DataFrame(a)
df

                    0                                       1
0      Rp 750.000.000   (Jawa Timur, Surabaya Kota, Kenjeran)
1      Rp 425.000.000      (Jawa Timur, Surabaya Kota, Bulak)
2      Rp 590.000.000  (Jawa Timur, Surabaya Kota, Mulyorejo)
3      Rp 480.000.000  (Jawa Timur, Surabaya Kota, Simokerto)
4      Rp 950.000.000     (Jawa Timur, Surabaya Kota, Gubeng)
...               ...                                     ...
10685  Rp 750.000.000        (Jawa Timur, Batu Kota, Junrejo)
10686  Rp 530.000.000    (Jawa Timur, Malang Kota, Lowokwaru)
10687  Rp 380.000.000          (Jawa Timur, Malang Kab., Dau)
10688  Rp 775.000.000    (Jawa Timur, Malang Kota, Lowokwaru)
10689  Rp 400.000.000       (Jawa Timur, Malang Kota, Klojen)

[10690 rows x 2 columns]

In [85]:
df.to_csv('housing.csv', encoding='utf-8', index=False)